.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: background 1s ease 0s;
}

.overlay {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.35rem;
}

.logo {
  flex-grow: 1;
}
